@import "../../base.scss";

.widget {
  min-height: 100vh;
  position: -webkit-sticky;
  border-radius: 30px;
  position: sticky;
  top: 0;

  .widgetCont {
    &__top {
      background-color: $black;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1;
      &__input {
        background-color: $black-secondary;
        height: 40px;
        border-radius: 20px;
        input {
          border: 0;
          background-color: transparent;
        }
      }
    }
    &__trends {
      margin-top: 30px;
      background-color: $black-secondary;
      border-radius: 20px;
    }
  }
}
