@import "../../base.scss";
.searchBar {
  background-color: $black-secondary;
  height: 40px;
  border-radius: 20px;
  input {
    border: 0;
    background-color: transparent;
  }
}

.headerExplore {
  border-bottom: solid 1px $border-color;
  &__searchBar {
    border-bottom: solid 1px $border-color;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: transparentize($color: $black, $amount: 0.3);
  }
}
