@import "../../base.scss";

.tweet-box {
  border-bottom: $border-color 0.7px solid;
  &__profile {
    svg {
      width: 50px;
      height: 50px;
    }
  }
  input {
    background-color: transparent;
    color: $text-inactive-color;
    border: 0 !important;
  }
  button {
    background-color: $blue;
    border: 0;
    border-radius: 20px;
    color: $text-color;
  }
}
