@import "../../base.scss";

.sidebar {
  height: 100vh;
  display: flex;
  justify-content: center !important;
  // position: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;

  .sidebarCont {
    &__logout {
      &__cont {
        &:hover {
          background-color: $black-secondary;
          border-radius: 40px;
        }
      }
    }
  }
}

// @media (max-width: $breakpoint-small) {
//   .sidebar {
//     //transform: translateX(-100%);
//     position: fixed;
//     top: 0;
//     z-index: 100;
//     width: 80% !important;
//     background-color: rgb(212, 139, 30) !important;
//   }
// }

@media (max-width: $breakpoint-large) {
  // .sidebar {
  //   justify-content: flex-end;
  // }
  // .sidebarCont * {
  //   padding-left: 20% !important;
  // }
  // .sidebarCont__search-small {
  //   background-color: rgb(81, 255, 0);
  //   display: none !important;
  // }
  .sidebar__profile-container {
    p {
      display: none !important;
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .sidebarCont__search-large {
    display: none !important;
    * {
      display: none !important;
    }
  }
}

// @media (max-width: $breakpoint-small) {
//   .sidebar__profile-container {
//     p {
//       display: block;
//     }
//   }
// }
