@import "../../base.scss";

.post {
  border-bottom: $border-color 1px solid;
  &__profile {
    svg {
      height: 50px;
      width: 50px;
    }
  }
  &__content {
    &__reactions {
      svg {
        width: 20px;
        height: 20px;
      }
    }
    &__header {
    }
    &__body {
      img {
        height: 100px;
        width: 300px;
      }
    }
  }
}
