@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

$black: #000000;
$blue: #1d9bf0;
$black-secondary: #202327;
$black-teritary: #2f3336;
$border-color: #536471;
$text-color: #e7e9ea;
$text-inactive-color: #71767b;

$breakpoint-small: 500px;
$breakpoint-medium: 800px;
$breakpoint-large: 1100px;
$breakpoint-xlarge: 2000px;
//updated bootstrap variables
$grid-columns: 14;
$grid-breakpoints: (
  xs: 0,
  sm: $breakpoint-small,
  md: $breakpoint-medium,
  lg: $breakpoint-large,
  xl: $breakpoint-xlarge,
  xxl: 1400px,
);
$grid-gutter-width: 0;

$dark: $black;
$secondary: $black-secondary;
$light: $black-teritary;

$primary: $blue;
$success: $border-color;

$info: $text-color;
$warning: $text-inactive-color;
// $danger: $red !default;

//
@import "../node_modules/bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $black !important;
  background-attachment: fixed;
  color: $text-color !important;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
  max-width: 100% !important;
}

@mixin line-clamp($number) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
}

::-webkit-scrollbar {
  width: 0px;
}
